<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Talanta Investment Group{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block style %}{% endblock %}
</head>
<body>
    <header>
        {% block header %}
            <img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Company Logo">

            <div id="navbar">
                <a class="nav-item" href="/">Home</a>
                <div class="nav-item dropdown">
                    <span class="dropbtn">Tools</span>
                    <div class="dropdown-content">
                        <a class="dropdown-item" href="/earnings-relesase-dates">Earnings Release Dates</a>
                    </div>
                </div>
            </div>
        {% endblock %}
    </header>

    <main>
        {% block main %}
            <p>Default page content from some home page.</p>
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <p>© 2025 Talanta Investment Group, LLC All Rights Reserved.</p>
        {% endblock %}
    </footer>

    {% block scripts %}{% endblock %}
</body>
</html>